{% extends 'basic.html' %}
{% block content %}
<body>
<section class="section">
    <div id="post-box" class="container">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <a class="image is-64x64" href="#">
                        <img class="is-rounded"
                             src={{ url_for("static", filename="profile_pics/profile_placeholder.png") }} alt="Image">
                    </a>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>홍길동</strong> <small>@username</small> <small>10분 전</small>
                            <br>
                            글을 적는 칸
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item is-sparta" aria-label="heart" onclick="toggle_like('', 'heart')">
                                <span class="icon is-small"><i class="fa fa-heart"aria-hidden="true"></i></span>&nbsp;
                                <span class="like-num">2.7k</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</section>
</body>
{% endblock %}