{% extends 'basic.html' %}

{% block content %}
<body>
<h1 class="title is-sparta">개발팀 소개</h1>

<div>

    <div class = "container">
        <h3 class="subtitle is-sparta">프로젝트 명 :모두의 오늘</h3>
    <h3 class="subtitle is-sparta">개발기간 2022/06/21~2022/06/23</h3>
    <h3 class="subtitle is-sparta">데이터베이스 구조 설계 및 화면 정의 와이어프레임은 티스토리 참고</h3>
    <a href="https://minicomdori.tistory.com/entry/Chapter1-7%EC%A1%B0-SAStarting-Assignment" h3 class="subtitle is-sparta">👉👉👉티스토리 바로가기👈👈👈</ah3>
    <h3 class="subtitle is-sparta">👦박경민 : dailyhapp2@naver.com</h3>
    <h3 class="subtitle is-sparta">👨박윤주 : pyunj0607@naver.com</h3>
    <h3 class="subtitle is-sparta">👩신희정 : shj960531@naver.com</h3>
        </div>
    </div>
</body>
{% endblock %}