<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/global.css"/>
</head>
<body>
<header>
    <section class="hero is-white">
        <div
                class="hero-body has-text-centered"
                style="padding-bottom: 1rem; margin: auto"
        >
            <section class="hero is-white">
                <div
                        class="hero-body has-text-centered"
                        style="padding-bottom: 1rem; margin: auto"
                >
                    <h1 class="title is-sparta">모두의 오늘</h1>
                    <h3 class="subtitle is-sparta">share to-do</h3>
                </div>
            </section>

            <div id="menu_bar">
                <ul>
                    <li><a href="/">홈으로</a></li>
                    <li><a href="/mypage">마이페이지</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </div>
</header>

</body>
</html>
