<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/global.css"/>
</head>
<body>
<header>
    <p class="base_title">모두의 오늘</p>
    <div id="menu_bar">
        <ul>
            <li><a href="/">홈으로</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li><a href="/logout">로그아웃</a></li>
        </ul>

    </div>

</header>
<main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
</main>
</body>
</html>