{% extends 'basic.html' %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>모두의 오늘 | 지난 ToDo-List</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
              rel="stylesheet">
        <style>
            .schBar {
                display: block;
                margin: 0px auto;
                margin-top: 50px;
                margin-bottom: 10px;
                text-align: center
            }

            .tableclass {
                display: block;
                margin: 0px auto;
                text-align: center;
                max-width: 700px;
                width: 95%;
            }

            .schLabel {
                color: #3eb489;
                display: block;
                margin: 0px auto;
                margin-bottom: 20px;
                text-align: center;
            }

            .myTitle {
                display: block;
                margin: 0px auto;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
            }
        </style>

        <script>
            $(document).ready(function () {
                let today = new Date();
                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜
                let day = today.getDay();  // 요일

                if (month < 10) {
                    month = "0" + month
                }

                $('#schDate').val(year + '-' + month + '-' + date)


                let schDate = $('#schDate').val();

                $('#tbody').empty();
                $.ajax({
                    type: 'POST',
                    url: '/showOldTodo',
                    data: {
                        id_give: 'park',
                        date_give: schDate
                    },
                    success: function (response) {
                        let rows = response['todo']

                        for (let i = 0; i < rows.length; i++) {
                            let time = rows[i]['time']
                            let detail = rows[i]['detail']
                            let status = rows[i]['status']
                            if (status == 1) {
                                status = '⭕'
                            } else {
                                status = '❌'
                            }
                            let temp_html = `<tr>
                                            <td>${time}</td>
                                            <td>${detail}</td>
                                            <td>${status}</td>
                                        </tr>`
                            $('#tbody').append(temp_html)
                        }
                    }
                });
            });

            function fnChgDate() {
                if (window.event.keyCode == 13) {
                    let schDate = $('#schDate').val();

                    $('#tbody').empty();
                    $.ajax({
                        type: 'POST',
                        url: '/showOldTodo',
                        data: {
                            id_give: 'park',
                            date_give: schDate
                        },
                        success: function (response) {
                            let rows = response['todo']

                            for (let i = 0; i < rows.length; i++) {
                                let time = rows[i]['time']
                                let detail = rows[i]['detail']
                                let status = rows[i]['status']
                                if (status == 1) {
                                    status = '⭕'
                                } else {
                                    status = '❌'
                                }
                                let temp_html = `<tr>
                                            <td>${time}</td>
                                            <td>${detail}</td>
                                            <td>${status}</td>
                                        </tr>`
                                $('#tbody').append(temp_html)
                            }
                        }
                    });
                }
            }
        </script>
    </head>

    <body>
    <div class="myTitle">
        <h3 class="subtitle is-sparta">지난 To-do List</h3>
    </div>
    <div class="schBar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3"
             viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>


        <input type="date" id="schDate" onkeyup="fnChgDate()"/>

    </div>
    <label class="schLabel">(날짜 입력 후 엔터를 눌러주세요↵)</label>
    <p></p>
    <div class="tableclass">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">시간</th>
                <th scope="col">내용</th>
                <th scope="col">완료여부</th>
            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
    </body>
{% endblock %}