<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />

  <title>인생 버킷리스트</title>
  <title>Log In | 모두의 오늘</title>
  <link rel="shortcut icon" href="/static/images/wp_favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/static/images/wp_favicon.ico" type="image/x-icon" />
  <meta property="og:title" content="모두의 오늘 - share to-do" />
  <meta property="og:description" content="mini project for Web Plus" />
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <!-- Font Awesome CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Stylish&display=swap" rel="stylesheet" />
  {#
  <link href="/static/css/wp_4_mystyle.css" rel="stylesheet" />
  #}
  <link rel="stylesheet" type="text/css" href="/static/global.css" />

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <style>
    .title {
      font-weight: 800;
      font-size: 5rem;
      font-family: "Stylish", sans-serif;
    }

    .subtitle {
      font-family: "Gamja Flower", cursive;
      font-size: 2rem;
    }

    .help {
      color: gray;
    }
  </style>
  <style>
    .mypic {
      width: 100%;
      height: 200px;

      background-position: center;
      background-size: cover;

      color: white;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .mypic>h1 {
      font-size: 30px;
    }

    .mybox {
      width: 95%;
      max-width: 700px;
      padding: 20px;
      box-shadow: 0px 0px 10px 0px lightblue;
      margin: 20px auto;
    }

    .mybucket {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .mybucket>input {
      width: 70%;
    }

    .mybox>li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin-bottom: 10px;
      min-height: 48px;
    }

    .mybox>li>h2 {
      max-width: 75%;
      font-size: 20px;
      font-weight: 500;
      margin-right: auto;
      margin-bottom: 0px;
    }

    .mybox>li>h2.done {
      text-decoration: line-through;
    }

    .mytime {
      display: flex;
    }
  </style>
  <script>
    $(document).ready(function () {
      show_bucket();
    });

    function show_bucket() {
      $.ajax({
        type: "GET",
        url: "/bucket",
        data: {},
        success: function (response) {
          let rows = response['buckets'];
          for (let i = 0; i < rows.length; i++) {
            let detail = rows[i]['detail'];
            let seq = rows[i]['seq'];
            let status = rows[i]['status'];

            let temp_html = ``;


            if (status == 0) {
              temp_html = `<li>
                
                <h2>${detail}</h2>
               
                <button onclick="done_bucket(${seq})" type="button" class="btn btn-outline-primary">완료!</button></li>`;
            } else {
              temp_html = `<li>
                
                <h2>${detail}</h2>
                
                <button onclick="back_bucket(${seq})" type="button" class="btn btn-outline-primary">취소!</button>`;
            }
            $("#bucket-list").append(temp_html);

          }
        },
      });
    }

    function save_bucket() {
      let bucket = $('#bucket').val();
      let time = $('#s_time_time_from').val();
      let tag = $('#tag').val();
      $.ajax({
        type: "POST",
        url: "/bucket",
        data: { bucket_give: bucket, time_give: time, tag_give: tag },
        success: function (response) {
          alert(response["msg"]);
          window.location.reload();
        },
      });
    }

    function done_bucket(seq) {
      $.ajax({
        type: "POST",
        url: "/bucket/done",
        data: { seq_give: seq },
        success: function (response) {
          alert(response["msg"]);
          window.location.reload();
        },
      });
    }

    function back_bucket(seq) {
      $.ajax({
        type: "POST",
        url: "/bucket/back",
        data: { seq_give: seq },
        success: function (response) {
          alert(response["msg"]);
          window.location.reload();
        },
      });
    }
    $(document).ready(function () {
      var tag = {};
      var counter = 0;

      // 입력한 값을 태그로 생성한다.
      function addTag(value) {
        tag[counter] = value;
        counter++; // del-btn 의 고유 id 가 된다.
      }

      // tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
      function marginTag() {
        return Object.values(tag).filter(function (word) {
          return word !== "";
        });
      }

      // 서버에 제공
      $("#tag-form").on("submit", function (e) {
        var value = marginTag(); // return array
        $("#rdTag").val(value);

        $(this).submit();
      });

      $("#tag").on("keypress", function (e) {
        var self = $(this);

        //엔터나 스페이스바 눌렀을때 실행
        if (e.key === "Enter" || e.keyCode == 32) {

          var tagValue = self.val(); // 값 가져오기

          // 해시태그 값 없으면 실행X
          if (tagValue !== "") {

            // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
            var result = Object.values(tag).filter(function (word) {
              return word === tagValue;
            })

            // 해시태그가 중복되었는지 확인
            if (result.length == 0) {
              $("#tag-list").append("<li class='tag-item'>" + tagValue + "<span class='del-btn' idx='" + counter + "'>x</span></li>");
              addTag(tagValue);
              self.val("");
            } else {
              alert("태그값이 중복됩니다.");
            }
          }
          e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
        }
      });

      // 삭제 버튼 
      // 인덱스 검사 후 삭제
      $(document).on("click", ".del-btn", function (e) {
        var index = $(this).attr("idx");
        tag[index] = "";
        $(this).parent().remove();
      });
    })
  </script>
</head>

<body>
  <section class="hero is-white">
    <div class="hero-body has-text-centered" style="padding-bottom: 1rem; margin: auto">
      <h1 class="title is-sparta">모두의 오늘</h1>
      <h3 class="subtitle is-sparta">share to-do</h3>
    </div>
  </section>
  <div class="mypic">
    <h1>나의 버킷리스트</h1>
  </div>
  <div class="mybox">
    <div class="mybucket">
      할일 : &nbsp;<input id="bucket" class="form-control" type="text" placeholder="할일을 입력하세요" />
    </div>
    <br>
    <br>
    <div class="mytime">
      시간대 : &nbsp;
      <select id="s_time_time_from" onchange="s_time_select(this)" class="time_select">
        <script>
          for (i = 12; i < 48; i++) {
            var hour = "";
            var min = ":00";

            if (Math.ceil(i / 2) < 13) {
              hour = Math.floor(i / 2);
            } else {
              hour = Math.floor(i / 2);
            }
            if (i % 2 != 0) {
              min = ":30";
            }
            document.write(
              "<option value=" + hour + min + ">" + hour + min + "</option>"
            );
          }
        </script>
      </select>
      &nbsp;&nbsp;~ &nbsp; &nbsp;
      <select id="s_time_time_to" onchange="s_time_select(this)" class="time_select">
        <script>
          for (i = 12; i < 48; i++) {
            var hour = "";
            var min = ":00";

            if (Math.ceil(i / 2) < 13) {
              hour = Math.floor(i / 2);
            } else {
              hour = Math.floor(i / 2);
            }
            if (i % 2 != 0) {
              min = ":30";
            }
            document.write(
              "<option value=" + hour + min + ">" + hour + min + "</option>"
            );
            var realtime = hour.concat('~', min);
          }
        </script>
      </select>

      &nbsp;&nbsp;<input type="checkbox" name="no-time" value="no-time" />시간대 선택 안함
    </div>
    <br>
    <br>
    <div class="mytag">
      태그 : &nbsp; <ul id="tag-list"></ul>
      <input type="text" class="form-control" id="tag" size="7" placeholder="엔터로 해시태그를 등록해주세요." style="width: 300px;" />
    </div>
    <button onclick="save_bucket()" type="button" class="btn btn-outline-primary">
      (+)
    </button>
  </div>


  <div class="mybox" id="bucket-list">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">시간</th>
          <th scope="col">할 일</th>
          <th scope="col">태그</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>{{time}}</td>
          <td>{{bucket-list}}</td>
          <td>{{tag_give}}</td>
        </tr>
        <tr>

          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>Larry the Bird</td>
          <td>할일</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>